html {
	background-color: #b8d9b8;
	padding: 30px;

}

body {
	display: flex;
	flex-direction: column;
}

header {
	order: -1;
}

footer {
	order: 3;
}

main {
	order: 2;
	flex: 85%;
	padding: 20px;
}

.layout2 {
	display: flex;
}

#nav-articles {
	background-color: #8dbd8d;
	padding: 20px;
	position: sticky;
	align-items: center;

}

article {
	display: flex;
	flex-direction: row;
}

#nav-one {
	display: flex;
	align-items: center;
	flex: 1;
	position: sticky;
}

#nav-two {
	display: flex;
	align-items: center;
	flex: 1;
	position: sticky;
}